@import './common.scss';

.antifaq {
	h4 {
		font-weight: 500;
	}
	
	a {
		color: #212529;
	
		&:hover {
			color: $color-danger;
			text-decoration: underline;
		}
	}
	
	.panel {
		width: 100%;
	
		button {
			svg {
				transition: 0.4s;
				position:absolute;
			}
	
			&:before{
				content: url("/assets/images/faqPlus.svg");
			}
	
			&:before(.collapsed) {
				content: url("/assets/images/faqLess.svg");
			}
	
			// accordion arrow
			&:active, &:not(.collapsed), &:focus {
				svg {
					transform: rotate(180deg);
				}
			}
		}
	
		div {
			background-color: white;
			border: 0;
		}
	
		@include media(tablet_mobile, portrait) {
			width: 100%;
			text-align: initial;
		}
	}
}
