@import './common.scss';

.faq {
	hr {
		background-color: transparent;
		border-bottom: dotted 2px black;
	}

	h4 {
		font-weight: 500;
	}
	
	a {
		color: #212529;
	
		&:hover {
			color: $color-danger;
			text-decoration: underline;
		}
	}

	#{&}-accordion {
		button {

			&:active, &:hover, &:visited, &:focus {
				box-shadow: none !important;
			}

			svg {
				transition: 0.4s;
				path {
					stroke: $color-danger;
				}
			}

			// accordion arrow
			&:active, &:not(.collapsed) {
				svg {
					transform: rotate(180deg);
					path {
						stroke: $color-danger;
					}
				}
			}
		}

		div {
			background-color: white;
			border: 0;
		}

		@include media(tablet_mobile, portrait) {
			text-align: initial;
		}
	}
}
