@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Ubuntu&display=swap');

$color-danger: #CE0033;
$color-secondary: #1B3549;

// Responsive queries

$queries: (
	desktop: 'min-width: 1224px',
	tablet_mobile: 'max-device-width: 1224px',
	portrait: 'orientation: portrait',
	retina: 'min-resolution: 2dppx',
	big: 'min-device-width: 1824px'
);

@mixin media($keys...) {
    @each $key in $keys {
		@media (map-get($queries, $key)) {
			@content;
		}
	}
}

// Default Font

html, body {
	font-family: "Ubuntu";
	overflow-x: hidden;
}

// Bootstrap Buttons

@mixin btn-color($color) {
	background-color: $color;
	border-radius: 24px;
	border-color: $color;
	box-shadow: 0.1rem 0.2rem darken($color, 10%);

	&:hover, &:visited, &:active, &:focus {
		background-color: $color !important;
		border-color: $color !important;
		box-shadow: 0.1rem 0.2rem darken($color, 10%) !important;
	}

	&:focus {
		background-color: white !important;
		color: $color !important;
	}
}

@mixin btn-color-outline($color) {
	@include btn-color(white);
	border: solid 3px $color;
	border-color: $color;
	color: $color;

	&:hover, &:visited, &:active, &:focus {
		border: solid 3px $color !important;
		border-color: $color !important;
		color: $color !important;
	}

	&:focus {
		background-color: $color !important;
		color: white !important;
	}
}

.btn-secondary {
	@include btn-color($color-secondary);
}

.btn-secondary-outline {
	@include btn-color-outline($color-secondary);
}

.btn-danger {
	@include btn-color($color-danger);
}

.btn-danger-outline {
	@include btn-color-outline($color-danger);
}

// Backgrounds

@mixin bg-color($bg-color, $color) {
	font-size: 1em;
	width: 20%;
	background-color: $bg-color !important;
	padding: 0.5em 1em;
	text-align: center;
	color: $color;

	@include media(tablet_mobile, portrait) {
		font-size: 0.7em;
		margin: 1em 0;
		width: 70%;
	}
}

.bg-danger {
	@include bg-color($color-danger, white);
}

.bg-secondary {
	@include bg-color($color-secondary, white);
}

// Slick Carousel

.slick-arrow {
	&:before {
		color: $color-secondary;
	}
}

.slick-track {
	margin: auto;
	height: 100%;

	div {
		height: 100%;
	}
}

.carousel-item {
	height: 100%;

	div {
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 50%;
			height: auto;
		}
	}
}