@import './common.scss';

.navbarslim {
	ul {
		background-color: rgba(0, 0, 0, .6);
		border-radius: 1em;

		path {
			transition: 0.2s;
			fill: #a2bbff;
		}

		a {
			color: gainsboro;

			&:hover {
				svg, path {
					fill: slateblue;
				}
			}
		}
	}

	&:after {
		z-index: -1;
		content: "";
		position: absolute;
		top: -100px;
		left: 0;
		width: 100%;
		height: 60%;
		background-image: url("../../assets/images/red-wave.svg");
		background-size: cover;
		background-position: 100% center;
		pointer-events: none;
	}
}


h4 {
    font-weight: 500;
}

a {
    color: #212529;

    &:hover {
        color: $color-danger;
        text-decoration: underline;
    }
}

strong {
    font-weight: 500;
    font-style: oblique 20deg;
}
